@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('/montserrat-v13-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Bold';
  font-weight: 400;
  font-style: normal;
  src: url('/montserrat-v13-latin-900.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-style: normal;
  src: url('/quicksand-v9-latin-regular.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Quicksand', 'Montserrat', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.65;
  color: #5b5b5c;
  margin: 0;
  overflow-wrap: break-word;
}

.container {
  margin: auto;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
  justify-content: center;
}

.navcus {
  margin: auto;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.card20 {
  max-width: 20em;
}

.blog {
  max-width: 30em;
}

a :hover,
a :active {
  font-weight: 600;
}

h1,
h2 {
  font-family: 'Montserrat Bold', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: #ff8471;
}

h3 {
  font-family: 'Montserrat Bold', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #3662c6;
}

h4,
h5,
h6 {
  font-family: 'Montserrat', Tahoma, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  color: #41484d;
}

p {
  font-size: 0.9em;
}

a {
  color: currentColor;
}

.skills {
  height: auto;
}

.icon {
  margin-right: 0.5em;
}

.wrapper {
  width: calc(100% - 30vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

hr {
  border: none;
  background: yellow;
  height: 100px;
  position: relative;
  margin-bottom: -1rem;
  left: 10%;
  width: 30%;
  display: block;
  transform: rotate(20deg);
  box-shadow: 1rem 1rem 0 0#3662c6;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  body {
    font-family: 'Quicksand', 'Montserrat', Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.65;
    color: #363636;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }
  h6 {
    text-transform: uppercase;
    line-height: 2;
    font-size: 1.2rem;
  }
}
