@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('/avenir-400.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('/montserrat-v13-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Bold';
  font-weight: 700;
  font-style: bold;
  src: url('/montserrat-v13-latin-700.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Montserrat', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #494949;
  background: #eee;
  margin: 0;
}

a :hover,
a :active {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-family: 'Montserrat Bold';
}

h4,
h5,
h6 {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

p {
  margin-top: 5em;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 20vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
