@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('/montserrat-v13-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SilkScreen Bold';
  font-weight: 400;
  font-style: normal;
  src: url('/slkscrb-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SilkScreen';
  font-weight: 400;
  font-style: normal;
  src: url('/slkscr-webfont.woff') format('woff');
  font-display: swap;
}

.navcus .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(168,255,212, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navcus .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #16192c;
  font-family: 'SilkScreen', 'Montserrat', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.65;
  color: #a4ffd2;
  margin: 0;
  overflow-wrap: break-word;
}

.container {
  margin: auto;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
  justify-content: center;
}

.navcus {
  margin: auto;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  color: #a8ffd4;
}

.card20 {
  width: 25vw;
  min-width: 12em;

  background-color: #16192c;
  color: #a4ffd2;
  margin-bottom: 3em;
}

.blog {
  max-width: 50vw;
}

a :hover,
a :active {
  font-weight: 600;
}

.hoverBounce :hover {
  animation: slideRight 1s ease-in-out infinite;
}

@keyframes slideRight {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0px);
  }
}

h1,
h2 {
  font-family: 'SilkScreen Bold', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: #fd502e;
}

h3 {
  font-family: 'SilkScreen Bold', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #3871f7;
}

h4,
h5,
h6 {
  font-family: 'SilkScreen', Tahoma, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  color: #a4ffd2;
}

p {
  font-family: 'Montserrat';
  font-size: 0.9em;
}

a {
  color: currentColor;
}

.cube {
  width: 150px;
  height: 177px;
}

.skills {
  height: 72px;
  width: 66px;
}
.skillIcon {
  display: inline-block;
  width: 62px;
  height: 62px;
}

.article.icon {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: #a4ffd2;
}

.wrapper {
  width: calc(100% - 30vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #a4ffd2;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

hr {
  border: none;
  background: #fd502e;
  height: 100px;
  position: relative;
  margin-bottom: -1rem;
  left: 10%;
  width: 30%;
  display: block;
  transform: rotate(20deg);
  box-shadow: 1rem 1rem 0 0 #3871f7;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  .blog {
    max-width: 90vw;
  }
  body {
    font-family: 'SilkScreen', 'Montserrat', Tahoma, Arial, Helvetica,
      sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.65;
    color: #a4ffd2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }
  h6 {
    text-transform: uppercase;
    line-height: 2;
    font-size: 1.2rem;
  }
  img {
    max-width: 80vw;
  }
}
