.hero {
  text-align: center;
  width: 60vw;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 10em;
}

.heroImage {
  min-width: 100vw;
  height: auto;
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
