.hero {
  height: 90vh;
  margin: auto;
  background-image: url(https://i.imgur.com/jwTYF6h.jpg);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  background-size: cover;
}

.bio {
  padding: 5em;
  width: 40em;
  max-width: 80vw;
  margin: auto;
}

.heroDetails {
  text-align: right;
  padding-top: 5vh;
  padding-right: 8vw;
  text-transform: uppercase;
  font-weight: bold;
}

.heroTitle,
.heroHeadline {
  line-height: 42pt;
}

@media only screen and (max-width: 600px) {
  .bio {
    padding: 10vw;
  }
  .hero {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

  .heroDetails {
    padding-top: 1vh;
    padding-right: 0vw;
    width: 90vw;
  }

  .heroTitle,
  .heroHeadline {
    background-image: -webkit-gradient(
      linear,
      right bottom,
      left top,
      from(rgba(252, 252, 252, 1)),
      to(rgba(255, 233, 108, 0))
    );
  }
}
