.hero {
  height: 690px;
  width: auto;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/header.png');
  background-size: contain;
}

.bio {
  padding: 5em;
  width: 40em;
  max-width: 80vw;
  margin: auto;
}

.heroDetails {
  position: absolute;
  text-align: center;
  top: 85vh;
  left: 45vw;
  animation: slide1 1s ease-in-out infinite;
}

.heroDetails :hover {
  color: #fe5c2b;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

@media only screen and (max-width: 600px) {
  .bio {
    padding: 10vw;
  }
}
